# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/welcometours/public_html/api"
PassengerBaseURI "/api"
PassengerPython "/home/welcometours/virtualenv/public_html/api/3.9/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END